# Introduksjonskurs i programmering, dag 1
## med fokus på data-analyse

In [3]:
import datetime
print(f"Velkommen til kurs i programmering {datetime.date.today()}")

Velkommen til kurs i programmering 2021-04-22

## Forventninger og innhold 
- du kan litt programmering på forhånd
- fortvil ikke om det blir vanskelig, for det er da vi lærer
- kreativitet trengs til programmering også
- mengdetrening gjør mester

## Temaer for dag 1
- Jupyter Notebooks
- Oppslagsverk
- Litt om Funksjoner
- Introduksjon til Pandas-regneark

# Jupyter Notebooks

Vi har to typer celler: kodeceller og tekstceller (markdownceller). Dette er en markdown-celle, ved å dobbeltrykke på denne cellen kan du redigere teksten i den.

Trykk på "+"-tegnet for å lage en ny celle. Vi kan markere en celle ved å trykke på den en gang. Da får vi en blå strek til venstre for cellen. Vi kan da endre om cellen skal være en Markdowncelle eller en kodecelle i nedtrekks-menyen over.

I kodecellen nedenfor har vi et enkelt "Hello World"-program.

In [1]:
print("Hei Verden!")

Hei Verden!

Python kan huske variabler som vi definerer i kodecellene, som i de to neste cellene, hvor vi i den første definerer variabelen "gjenstand", og i den andre så printer vi variabelen.

In [2]:
gjenstand = "datamaskin"

In [3]:
print(gjenstand)

datamaskin

Det er viktig å være obs på rekkefølgen som cellene kjøres i. Vi kan se på tallet til venstre for kodecellen for å se hvilken rekkefølge koden har kjørt i.
I neste celle endrer vi variabelen "gjenstand". Hvis vi nå går tilbake å printer den vil vi ikke få samme resultat, siden vi overskrev hva som opprinnelig lå i variabelen. Det som printes vil da altså være avhengig av den siste cellen vi kjørte, uavhengig av hvilken rekkefølge cellene i Notebooken er i.

In [4]:
gjenstand = "skjerm"

Hvis en kodecelle henger seg opp kan vi bruke "stopp"-knapppen over til å stoppe den. Dersom det ikke fungerer kan vi restarte notebooken ved å trykke "Kernel" -> "Restart". Merk at vi vil da miste alle variablene våre og må kjøre alle cellene på ny!

## Oppslagsverk 
- engelsk "dictionary"
- det er en datatype som vi bruker til å oppbevare data
- dataen som er lagret i oppslagsverket kaller vi for verdier
- verdiene er lagret med en nøkkel, og vi henter dem ut ved å bruke nøkkelen

![](oppslagsverk_ill.png)

Vi kan definere ett oppslagsverk slik:

In [5]:
oppslagsverk = {"a":1,"b":2,"c":3}

Her har vi en del elementer å gripe tak i.
Det er viktig å huske:
- Krølleparenteser rundt hele oppslagsverket
- Vi har nøkler foran kolonet :, og verdier etter.
- Nøklene er strenger og er omringet av fnutter

Oppslagsverket gir en måte å oppbevare data på, hvor vi har litt mer kontroll på hva slags data vi har. Verdiene som er lagret i oppslagsverket er knyttet til nøkler, da kan vi for eksempel kategorisere dataene våre.

Egenskaper til dictionaries er blant annet:

Vi kan se på hvilke nøklers som er i oppslagsverket:

In [7]:
list(oppslagsverk)
print(f"I oppslagsverk har vi disse nøklene " , list(oppslagsverk))

I oppslagsverk har vi disse nøklene  ['a', 'b', 'c']

Eller hvor mange verdier som er i oppslagsverket:

In [6]:
len(oppslagsverk)
print(f"I oppslagsverket er det {len(oppslagsverk)} antall verdier")

I oppslagsverket er det 3 antall verdier

For å lese ut verdier bruker vi hakeparenteser:
Legg merke til at vi inne i f-strengen bruker enkle fnutter.

In [8]:
oppslagsverk["a"]
print(f"For nøkkelen 'a' har vi verdien {oppslagsverk['a']}")

For nøkkelen 'a' har vi verdien 1

Vi kan legge til nye verdier:

In [13]:
print("Vi legger til 'd' : 4")
oppslagsverk["d"] = 4

Vi legger til 'd' : 4

In [14]:
print("Nå har vi nøklene ", list(oppslagsverk))
print(f"og {len(oppslagsverk)} verdier")

Nå har vi nøklene  ['a', 'b', 'c', 'd']
og 4 verdier

Eller slette:

In [15]:
print("vi sletter 'd'")
del oppslagsverk["d"]
print("Nå har vi nøklene ", list(oppslagsverk))
print(f"og {len(oppslagsverk)} verdier")

vi sletter 'd'
Nå har vi nøklene  ['a', 'b', 'c']
og 3 verdier

Og vi kan sjekke om vi har en spesifikk nøkkel i oppslagsverket:

In [17]:
print("a" in oppslagsverk)
print("d" not in oppslagsverk)

True
True

## noen fallgruber
- oppslagsverk er ikke nødvendigvis lagret i en gitt rekkefølge slik som lister!
- vær konsekvent med bruk av " eller ', inne i f-strenger må du bruke ' for å hente ut verdier fra oppslagsverket

### Et litt mer avansert eksempel på doble oppslagsverk
Her har vi definert 4 oppslagsverk med noen interessante verdier, og lagt disse oppslagsverkene inne i enda et oppslagsverk.

In [20]:
B737 = {"navn":"Boeing 737-800", "passasjerer":189, "vingespenn":34.3, "tow":79 }
A320 = {"navn":"Airbus A320", "passasjerer":150, "vingespenn":35.8, "tow":78 }
B747 = {"navn":"Boeing 747-8","passasjerer":467, "vingespenn":68.4, "tow":448 }
E190 = {"navn":"Embraer E190", "passasjerer":114, "vingespenn":28.7, "tow":51}


flymodeller = {
    "B737":B737,
    "A320":A320,
    "B747":B747,
    "E190":E190
}

Her henter vi ut verdier på samme måte

In [21]:
flymodeller["A320"]

{'navn': 'Airbus A320', 'passasjerer': 150, 'vingespenn': 35.8, 'tow': 78}

Siden dette igjen er et oppslagsverk må vi bruke to hakeparenteser for å hente ut for eksempel vingespennet til 737.

In [22]:
flymodeller["B737"]["vingespenn"]

34.3

Tilslutt kan vi sette sammen litt mer av det vi kjenner om programmering til å finne ut gjennomsnittlig vingespenn

In [24]:
vingespenn_gj = 0
for fly in flymodeller:
    #print fly?
    vingespenn_gj += flymodeller[fly]["vingespenn"]
vingespenn_gj/=len(flymodeller)

print(f"Gjennomsnittlig vingespenn = {vingespenn_gj} m")

Gjennomsnittlig vingespenn = 41.8 m

# Funksjoner
- funksjoner er en måte å samle en bit med kode som tilsammen gjør en konkret oppgave
- dette gir oss kode som er lettere å lese og bruke
- vi har allerede brukt mange funksjoner: print, input, len
- la oss først se litt på bruken av funksjoner som vi allerede kjenner til
- tre viktige begreper: argument, bruke, returnere

Funksjoner pleier ofte å returnere en verdi som vi kan jobbe videre med. Ett eksempel på en slik funksjon er len-funksjonen. Den returnerer antall elementer i lister eller oppslagsverk, slik at vi slipper å skrive mye kode for å telle selv.

Funksjoner har også argumenter, som er verdiene som vi sender med funksjonen. Disse står i parentes etter navnet på funksjonen. I tilfellet nedenfor, må vi fortelle len-funksjonen hva den skal finne lengden av.

In [27]:
x = len(flymodeller)
print(x)

4

En annen funksjon vi ofte bruker er print-funksjonen. Den returner ikke noe, som vi ser når vi printer "x"

In [28]:
print("Hei verden!")
x = print("Hei verden")
print(x)

Hei verden!
Hei verden
None

Funksjoner kan også ta inn det som vi kaller standardargumenter eller "keyword arguments".
Dette er verdier som har en standardverdi som funksjoner bruker dersom vi ikke sier at den skal bruke noe annet.
For eksempel spesifiserer vi ikke alltid at print-funskjonen skal sette et linjeskift på slutten av teksten den printer hver gang. Legg merke til hva som er forskjellen på disse to cellene.

In [29]:
print("Jeg kommer på første linje i utskriften")
print("Jeg kommer på linjen under!")
print("Jeg kommmer også på linjen under!")

Jeg kommer på første linje i utskriften
Jeg kommer på linjen under!
Jeg kommmer også på linjen under!

In [30]:
print("Jeg kommer på første linje, og slutter med to linjeskift", end="\n\n")
print("Jeg kommer to linjer under og slutter uten noen linjeskift. ", end="")
print("Oi, jeg kommer visst på samme linje!")

Jeg kommer på første linje, og slutter med to linjeskift

Jeg kommer to linjer under og slutter uten noen linjeskift. Oi, jeg kommer visst på samme linje!

## Hvordan kan vi lage våre egne funksjoner?
- la oss lage en funksjon som gjør om fra fot til meter

In [2]:
#når vi skal lage en funksjon starter vi alltid med ordet "def" og deretter navnet på funksjonen.
#navnet er som regel noe som har noe med hva funksjonen skal gjøre
#vi har også et argument
def fot_til_meter(lengde_i_fot):
    #inne i funksjonen har vi variabelen "lengde_i_fot" som funksjonen er definert ved. Når vi bruker funksjonen 
    #vil denne få en verdi
    
    #la oss implementere hva funksjonen skal gjøre
    lengde_i_meter = lengde_i_fot*0.3048
    
    #og printe verdien
    print(f"Lengden {lengde_i_fot} fot er {lengde_i_meter} meter.")

I cellen over "definerte" vi funksjonen. Vi fortalte altså python hva den skal gjøre dersom jeg bruker funksjonen.
I neste celle bruker jeg funksjonen.

In [33]:
#vi prøver funksjonen vår
fot_til_meter(10) #hva er 10 fot i meter?

Lengden 10 fot er 3.048 meter.

Hva hvis vi vil bruke verdien som funksjonen regner ut videre? Da trenger vi "return".

In [4]:
def fot_til_meter(lengde_i_fot):
    lengde_i_meter = lengde_i_fot*0.3048
    
    print(f"Lengden {lengde_i_fot} fot er {lengde_i_meter} meter.")
    
    #legger til
    return lengde_i_meter

In [3]:
#kan vi bruke "lengde_i_meter" utenfor funksjonen?
#lengde_i_meter
lengde = fot_til_meter(30_000)
print(f"Nå kan vi jobbe videre med lengde = {lengde}")

Lengden 30000 fot er 9144.0 meter.
Nå kan vi jobbe videre med lengde = None

Nå har vi altså sagt at funksjonen skal returnere verdien den regnet ut, slik at vi lagre den i en variabel og jobbe videre med den.

La oss se på hvordan standardargumenter ("keyword arguments") kan defineres.

In [37]:
def fot_til_meter(lengde_i_fot=1): # liten endring her!
    lengde_i_meter = lengde_i_fot*0.3048
    
    print(f"Lengden {lengde_i_fot} fot er {lengde_i_meter} meter.")
    
    return lengde_i_meter

In [38]:
#nå kan vi kalle på funksjonen uten å nødvendigvis spesifisere "lengde_i_fot"-argumentet, da tar den standardverdien
fot_til_meter()
#men vi kan fremdeles endre
fot_til_meter(3)

Lengden 1 fot er 0.3048 meter.
Lengden 3 fot er 0.9144000000000001 meter.

0.9144000000000001

# Pandas - regneark ("dataframes")
- et veldig sterkt og fleksibelt verktøy for å behandle små og store mengder med data
- sammenlignbart med excel
- vi kan lagre og representere data på en effektiv måte
- vi får fleksibiliteten som følger med python

## Hva kan vi gjøre med Pandas?
- hente ut og filtrere nyttig informasjon fra mye data 
- mange funksjoner er allerede implementert slik at vi slipper mye arbeid
- svært god integrasjon med biblioteket "plotly" som kan brukes til å visualisere
- ikke overbevist? La oss kode :)

Vi har oppslagsverket ovenfra.

In [39]:
B737 = {"navn":"Boeing 737-800", "passasjerer":189, "vingespenn":34.3, "tow":79 }
A320 = {"navn":"Airbus A320", "passasjerer":150, "vingespenn":35.8, "tow":78 }
B747 = {"navn":"Boeing 747-8","passasjerer":467, "vingespenn":68.4, "tow":448 }
E190 = {"navn":"Embraer E190", "passasjerer":114, "vingespenn":28.7, "tow":51}

flymodeller = {
    "B737":B737,
    "A320":A320,
    "B747":B747,
    "E190":E190
}

Dette kan vi gjøre om til et regneark.

In [73]:
#vi må importere pandas biblioteket:
import pandas as pd

#lage regnearket:
fr = pd.DataFrame.from_dict(flymodeller,orient="index") #orient index betyr as keys i mitt dict

Vi kan nå se hvordan regne arket er lagret i python:

In [41]:
fr

                navn  passasjerer  vingespenn  tow
B737  Boeing 737-800          189        34.3   79
A320     Airbus A320          150        35.8   78
B747    Boeing 747-8          467        68.4  448
E190    Embraer E190          114        28.7   51

### La oss se hva vi kan gjøre med Pandas regneark!
- Nå kommer det ganske masse ulike ting på ganske kort tid!

Hente ut en kolonne

In [42]:
fr["vingespenn"]

B737    34.3
A320    35.8
B747    68.4
E190    28.7
Name: vingespenn, dtype: float64

Hente ut rad, basert på navnet på raden

In [43]:
fr.loc["B737"]

navn           Boeing 737-800
passasjerer               189
vingespenn               34.3
tow                        79
Name: B737, dtype: object

Hente ut rad, basert på indeksen (rekkefølgen) til raden

In [44]:
fr.iloc[1]

navn           Airbus A320
passasjerer            150
vingespenn            35.8
tow                     78
Name: A320, dtype: object

Vi kan se på hvillke kolonner vi har

In [45]:
fr.columns

Index(['navn', 'passasjerer', 'vingespenn', 'tow'], dtype='object')

Og hva slags data de inneholder

In [48]:
fr.dtypes

navn            object
passasjerer      int64
vingespenn     float64
tow              int64
dtype: object

Vi kan enkelt finne interessante verdier:

In [49]:
#Middelverdier
fr.mean()

passasjerer    230.0
vingespenn      41.8
tow            164.0
dtype: float64

In [52]:
#Max og minimumsverdier
fr.max()
fr.min()

navn           Airbus A320
passasjerer            114
vingespenn            28.7
tow                     51
dtype: object

Hvis vi vil vite raden som en max eller min verdi befinner seg på kan vi bruke følgende:

In [57]:
index_for_max_vingespenn = fr["vingespenn"].idxmax()
index_for_max_vingespenn

'B747'

Da kan vi hente ut den raden med størst vingespenn:

In [58]:
fr.loc[index_for_max_vingespenn]

navn           Boeing 747-8
passasjerer             467
vingespenn             68.4
tow                     448
Name: B747, dtype: object

Vi kan regne på verdiene i kolonnene:

In [59]:
fr["tow"]*1000

B737     79000
A320     78000
B747    448000
E190     51000
Name: tow, dtype: int64

Og lage nye kolonner

In [74]:
fr["tow_kg"] = fr["tow"]*1000
fr

                navn  passasjerer  vingespenn  tow  tow_kg
B737  Boeing 737-800          189        34.3   79   79000
A320     Airbus A320          150        35.8   78   78000
B747    Boeing 747-8          467        68.4  448  448000
E190    Embraer E190          114        28.7   51   51000

For å endre en enkelt verdi kan vi bruke .loc med \[rad,kolonne\]

In [61]:
fr.loc["B737","tow"] = 79

In [62]:
fr

                navn  passasjerer  vingespenn  tow  tow_kg
B737  Boeing 737-800          189        34.3   79   79000
A320     Airbus A320          150        35.8   78   78000
B747    Boeing 747-8          467        68.4  448  448000
E190    Embraer E190          114        28.7   51   51000

Også kan vi legge til en ny rad ved

In [75]:
A321 = {"navn":"Airbus A321", "passasjerer":194, "vingespenn":351, "tow":89,"tow_kg":89000}
A321 = pd.Series(A321,name="A321")
fr = fr.append(A321)
fr

                navn  passasjerer  vingespenn  tow  tow_kg
B737  Boeing 737-800          189        34.3   79   79000
A320     Airbus A320          150        35.8   78   78000
B747    Boeing 747-8          467        68.4  448  448000
E190    Embraer E190          114        28.7   51   51000
A321     Airbus A321          194       351.0   89   89000

# Store datasett
La oss se på et datasett som inneholder alle flightene fra hver destinasjon i de bestemte månedene til flyplassen JFK i New York i 2007.

Store datasett kan vi laste inn fra .csv-filer

In [77]:
flighter = pd.read_csv("flights_to_JFK_2007.csv")

Vi kan da bruke info(), head(), og describe() for å se på hva som er i datasettet.

In [78]:
flighter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3677 entries, 0 to 3676
Data columns (total 9 columns):
Origin              3677 non-null object
OriginCity          3677 non-null object
Passengers          3677 non-null int64
Seats               3677 non-null int64
Flights             3677 non-null int64
Distance            3677 non-null float64
OriginPopulation    3677 non-null int64
Year                3677 non-null int64
Month               3677 non-null int64
dtypes: float64(1), int64(6), object(2)
memory usage: 287.3+ KB

In [80]:
flighter.head()

,Origin,OriginCity,Passengers,Seats,Flights,Distance,OriginPopulation,Year,Month
0,PBI,"West Palm Beach, FL",7906,10920,77,1028.0,5465183,2007,5
1,PBI,"West Palm Beach, FL",5382,7100,50,1028.0,5465183,2007,8
2,FLL,"Fort Lauderdale, FL",40551,46500,310,1069.0,5465183,2007,5
3,FLL,"Fort Lauderdale, FL",11285,15161,107,1069.0,5465183,2007,1
4,PBI,"West Palm Beach, FL",13534,18600,124,1028.0,5465183,2007,10

In [81]:
flighter.describe()

,Passengers,Seats,Flights,Distance,OriginPopulation,Year,Month
count,3677.000000,3677.000000,3677.000000,3677.000000,3.677000e+03,3677.0,3677.000000
mean,3065.946696,3935.107425,36.851781,985.908077,6.554135e+06,2007.0,6.715529
std,6012.388961,7228.048238,50.212130,944.754562,8.002859e+06,0.0,3.361614
min,0.000000,0.000000,1.000000,0.000000,4.299000e+04,2007.0,1.000000
25%,46.000000,136.000000,2.000000,264.000000,1.212476e+06,2007.0,4.000000
50%,631.000000,940.000000,20.000000,740.000000,2.669702e+06,2007.0,7.000000
75%,3359.000000,4403.000000,55.000000,1228.000000,9.007842e+06,2007.0,10.000000
max,48980.000000,58656.000000,376.000000,4983.000000,3.780233e+07,2007.0,12.000000

del-funksjonen fungerer slik som for oppslagsverk. "originpopulation"-kolonnen er merkelig. Kanskje har vi en feil i datasettet? Uansett så sletter vi den

In [82]:
del flighter["OriginPopulation"]

Vi kan bruke ulike måter for å hente ut en rad, alle radene mellom to bestemte rader, eller et bestemt sett med rader:

In [83]:
#en bestemt rad
flighter.loc[1456]
#eller alle radene fra 1456 til 1466
flighter.loc[1456:1466]
#eller radene 500, 505 og 510
flighter.loc[[500,505,510]]

    Origin   OriginCity  Passengers  Seats  Flights  Distance  Year  Month
500    ATL  Atlanta, GA          48     50        1     760.0  2007      7
505    ATL  Atlanta, GA           0    184        1     760.0  2007      1
510    ATL  Atlanta, GA         941   1200        8     760.0  2007      1

Vi kan besvare spørsmål og finne ut av mye interessant fra datasettet. 
Si for eksempel vi lurer på hvor det fløy flest passasjerer fra?

In [87]:
flighter["Passengers"].max()
rad_med_flest_pax = flighter["Passengers"].idxmax()
flighter.iloc[rad_med_flest_pax]

Origin                MCO
OriginCity    Orlando, FL
Passengers          48980
Seats               55380
Flights               355
Distance              944
Year                 2007
Month                   4
Name: 2662, dtype: object

Vi kan summere opp verdiene i datasettet

In [90]:
flighter.sum()

Origin        PBIPBIFLLFLLPBIPBIFLLFLLFLLFLLFLLFLLPBIFLLPBIS...
OriginCity    West Palm Beach, FLWest Palm Beach, FLFort Lau...
Passengers                                             11273486
Seats                                                  14469390
Flights                                                  135504
Distance                                            3.62518e+06
Year                                                    7379739
Month                                                     24693
dtype: object

Hvor mange seter var fylt?

In [89]:
flighter["Passengers"].sum()/flighter["Seats"].sum()

0.7791265561298714

Hvilken måned fløy det mest mennesker?

Da kan vi gruppere dataene etter "Month" og summere opp innad i hver måned.

In [93]:
flighter.groupby("Month").sum()

       Passengers    Seats  Flights  Distance    Year
Month
1          828953  1189572    11193  252607.0  495729
2          729105  1015573     9514  298014.0  557946
3          946820  1212391    11619  277162.0  559953
4          989453  1206113    11356  300840.0  600093
5         1010312  1240408    11756  289096.0  571995
6          993797  1177678    11121  325129.0  704457
7         1028278  1227458    11520  317349.0  650268
8         1073422  1266215    11882  306924.0  708471
9          915174  1230375    11442  321959.0  644247
10         938696  1260914    11691  309455.0  630198
11         914448  1223533    11340  303597.0  616149
12         905028  1219160    11070  323052.0  640233

Til slutt så kan vi også sortere ved hjelp av "sort_values".

In [95]:
flighter.sort_values("Distance",ascending=False) #Hvis du vil hente ut den første da bruk .iloc[0]

     Origin     OriginCity  Passengers  Seats  Flights  Distance  Year  Month
2441    HIK   Honolulu, HI         200    247        1    4983.0  2007      9
1322    ANC  Anchorage, AK           0      0        4    3386.0  2007      4
1638    ANC  Anchorage, AK        5198   6749       17    3386.0  2007      1
1615    ANC  Anchorage, AK           0      0       42    3386.0  2007      8
1616    ANC  Anchorage, AK           0      0        5    3386.0  2007     12
...     ...            ...         ...    ...      ...       ...   ...    ...
1158    JFK   New York, NY           0    355        1       0.0  2007      7
1062    JFK   New York, NY          81    162        1       0.0  2007      1
1173    JFK   New York, NY           0    210        1       0.0  2007     11
1108    JFK   New York, NY         111    164        1       0.0  2007      6
1187    JFK   New York, NY           0      0        1       0.0  2007      2

[3677 rows x 8 columns]

### Tips til å finne datasett (på nettet)
- Google er din beste venn!
- Vi legger ut noen lenker til samlinger av datasett under ulike kategorier.
- De enkleste formatene vi finner data i er .csv, .tsv, .xlsx
- Andre formater er .xml, .JSON, .cat, .dat +++ 
- Vi trenger ofte en beskrivelse til datasettet. Hva inneholder kolonnene? Hvilke enheter er tall osv. oppgitt i?