# Python, Pandas og regneark

For å finne oppgavene, bla lengre ned!

Når vi analyserer data med, bruker vi ofte *regneark*. Et av de vanligste regneark-programmene, er Microsoft Excel. Excel kan være utrolig nyttig, spesielt om vi har små datamengder, eller ikke ønsker å gjøre mye databehandling.

I det øyeblikket at vi har store datamengder og avanserte utregninger, så kan Excel-arkene fort bli uhåndterbare. Og da kan det være lurt å velge et verktøy hvor man har litt mer kontroll. Et slik verktøy er Python-biblioteket *Pandas*.

I denne notatboken skal vi se på hva Pandas er, og hvordan vi kan behandle data med det. Vi starter med å importere Pandas.

In [1]:
import pandas as pd

## Bysykkel-analyse

Vi vil analysere bysykkel-data. Vi lurer på hvor folk reiser, og hvor lenge de er på reisefot. Men før vi ser på ekte data fra *Oslo Bysykkel*, kan vi dikte opp litt data som vi lagrer i oppslagsverk

In [2]:
bysykkel_turer = {
  'started_at': ['2021-03-01 12:00:10', '2021-03-01 13:10:10',],
  'ended_at':   ['2021-03-01 12:15:10', '2021-03-01 13:19:15',],
  'duration':   [900,  555,],
  'start_station_id': [513,  480,],
  'end_station_id': [421,  461,],
}

bysykkel_turer

{'duration': [900, 555],
 'end_station_id': [421, 461],
 'ended_at': ['2021-03-01 12:15:10', '2021-03-01 13:19:15'],
 'start_station_id': [513, 480],
 'started_at': ['2021-03-01 12:00:10', '2021-03-01 13:10:10']}

Her har vi altså et oppslagsverk, hvor hvert element er en liste med data. Dette er en veldig naturlig måte å lagre data på i Python, og vi kan lett hente ut "kolonner" fra oppslagsverket vårt ved å indeksere det.

In [3]:
bysykkel_turer['start_station_id']

[513, 480]

### Vårt første regneark
La oss gjøre om oppslagsverket vårt til et regneark. I Python, så heter et regneark en `DataFrame`, og for å opprette en `DataFrame`, bruker vi Pandas biblioteket vi importerte på toppen av notatboken.

In [4]:
bysykkel_turer_regneark = pd.DataFrame(bysykkel_turer)

Hvis vi bare skriver navnet på regneark-variabelen vår, så printes den fint ut i nettleseren vår

In [5]:
bysykkel_turer_regneark

            started_at             ended_at  ...  start_station_id  end_station_id
0  2021-03-01 12:00:10  2021-03-01 12:15:10  ...               513             421
1  2021-03-01 13:10:10  2021-03-01 13:19:15  ...               480             461

[2 rows x 5 columns]

Vi kan hente ut kolonner fra regnearkene med nøyaktig samme syntaks som vi bruker for å hente ut elementer fra oppslagsverk:

In [6]:
bysykkel_turer_regneark['start_station_id']

0    513
1    480
Name: start_station_id, dtype: int64

Vi kan også se hvilke kolonner som er i regnearket vårt

In [7]:
bysykkel_turer_regneark.columns

Index(['started_at', 'ended_at', 'duration', 'start_station_id',
       'end_station_id'],
      dtype='object')

Og til og med finne grunnleggende informasjon om regnearket, med `info()`-funksjonen

In [8]:
bysykkel_turer_regneark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   started_at        2 non-null      object
 1   ended_at          2 non-null      object
 2   duration          2 non-null      int64
 3   start_station_id  2 non-null      int64
 4   end_station_id    2 non-null      int64
dtypes: int64(3), object(2)
memory usage: 208.0+ bytes

Her ser vi at regnearket vårt har fem kolonner, `started_at`, `ended_at`, osv. Vi ser også at `started_at` og `ended_at` kolonnene har datatypen `object`, som rett og slett betyr at de kan inneholde hvilken som helst form for informasjon. I dette tilfellet inneholder de tekststrenger.

Kolonnene `duration`, `start_station_id` og `end_station_id`, derimot, har datatypen `int64`, altså inneholder de kun heltall.

Når vi har et regneark, kan vi også regne ut noen enkle matematiske funksjoner på kolonnene. Vi kan for eksempel finne gjennomsnittet til alle tallkolonnene med `mean`-funksjonen.

In [9]:
bysykkel_turer_regneark.mean()

duration            727.5
start_station_id    496.5
end_station_id      441.0
dtype: float64

Eller minimum- og maksimumsverdien til regnearket ved å henholdsvis bruke `min` og `max` funksjonene.

In [10]:
bysykkel_turer_regneark.min()

started_at          2021-03-01 12:00:10
ended_at            2021-03-01 12:15:10
duration                            555
start_station_id                    480
end_station_id                      421
dtype: object

Men hvis vi er interessert i mye slik "sammendragsinformasjon", kan vi like gjerne be Pandas om å beskrive regnearket for oss. Det gjør vi med `describe`-funksjonen.

In [11]:
bysykkel_turer_regneark.describe()

        duration  start_station_id  end_station_id
count    2.00000          2.000000        2.000000
mean   727.50000        496.500000      441.000000
std    243.95184         23.334524       28.284271
min    555.00000        480.000000      421.000000
25%    641.25000        488.250000      431.000000
50%    727.50000        496.500000      441.000000
75%    813.75000        504.750000      451.000000
max    900.00000        513.000000      461.000000

### Analysere ekte data

Foreløpig har vi bare sett på vårt lille liksom-datasett. Men la oss heller se på et ekte dataset.

Det finnes mange måter man kan lagre regneark på en datamaskin. Den letteste er nok å ha en tekstfil, hvor hver linje er en rad, og man bruke komma for å separere kolonner. Dette filformatet heter komma-separerte filer, eller CSV-filer.

Kommaseparerte filer er fine for å lagre data man skal analysere i Python (du kan også åpne og lagre slike filer i Excel). Grunnen til det er at du kan åpne filene i en tekstbehandler (slik som notisblokken/notepad/spyder) og se på innholdet. Det er også mange som deler dataene sine som CSV-filer. For eksempel, så kan du laste ned CSV-filer fra Statistisk Sentralbyrå, Metrologisk Insitutt, og *Oslo Bysykkel*. 

La oss bruke Pandas til å laste inn en CSV-fil fra Oslo Bysykkel. Da bruker vi `read_csv`-funksjonen til Pandas. Denne funksjonen tar inn en filplassering på datamaskinen din, og laster inn regnearket til Python. Alternativt, så kan du skrive inn en nettadresse hvor filen kan lastes ned fra, og da vil Pandas automatisk laste ned filen og åpne den for oss. La oss gjøre det!

In [12]:
bysykkel_data_mars = pd.read_csv("https://data.urbansharing.com/oslobysykkel.no/trips/v1/2021/03.csv")

Vi kan se på bysykkeldataen fra mars i år

In [13]:
bysykkel_data_mars

                             started_at  ... end_station_longitude
0      2021-03-01 04:08:09.407000+00:00  ...             10.762281
1      2021-03-01 04:36:51.583000+00:00  ...             10.764162
2      2021-03-01 04:39:15.629000+00:00  ...             10.757294
3      2021-03-01 04:52:06.193000+00:00  ...             10.749929
4      2021-03-01 05:01:03.586000+00:00  ...             10.751648
...                                 ...  ...                   ...
62282  2021-03-30 22:48:17.150000+00:00  ...             10.756180
62283  2021-03-30 22:50:00.897000+00:00  ...             10.719489
62284  2021-03-30 22:50:11.962000+00:00  ...             10.726195
62285  2021-03-30 22:51:39.953000+00:00  ...             10.779916
62286  2021-03-30 22:58:57.052000+00:00  ...             10.743829

[62287 rows x 13 columns]

Vi har altså over 62 tusen rader! Så det er kanskje like greit at Pandas ikke viste frem alle sammen... Om vi bare vil se på noen få rader, kan vi bruke `head`-funksjonen til regnearket vårt.

In [14]:
bysykkel_data_mars.head()

                         started_at  ... end_station_longitude
0  2021-03-01 04:08:09.407000+00:00  ...             10.762281
1  2021-03-01 04:36:51.583000+00:00  ...             10.764162
2  2021-03-01 04:39:15.629000+00:00  ...             10.757294
3  2021-03-01 04:52:06.193000+00:00  ...             10.749929
4  2021-03-01 05:01:03.586000+00:00  ...             10.751648

[5 rows x 13 columns]

Head funksjonen kan også ta inn antall rader vi ønsker som argument, og vi kan lagre resultatet i en variabel. Her henter vi ut de første ti radene.

In [15]:
første_ti_rader = bysykkel_data_mars.head(10)
første_ti_rader

                         started_at  ... end_station_longitude
0  2021-03-01 04:08:09.407000+00:00  ...             10.762281
1  2021-03-01 04:36:51.583000+00:00  ...             10.764162
2  2021-03-01 04:39:15.629000+00:00  ...             10.757294
3  2021-03-01 04:52:06.193000+00:00  ...             10.749929
4  2021-03-01 05:01:03.586000+00:00  ...             10.751648
5  2021-03-01 05:01:24.497000+00:00  ...             10.742310
6  2021-03-01 05:02:11.224000+00:00  ...             10.738655
7  2021-03-01 05:03:27.416000+00:00  ...             10.757335
8  2021-03-01 05:03:49.874000+00:00  ...             10.752292
9  2021-03-01 05:03:56.836000+00:00  ...             10.730106

[10 rows x 13 columns]

Nå har vi altså hentet ut de første ti radene, men hva om vi vil se på en rad i midten av regnearket vårt? Altså, vi har en bestemt plass i regnearket vi vil se på. Da kan vi bruke `loc`-indeksen. 

Her henter vi ut raden med indeks 5678:

In [16]:
bysykkel_data_mars.loc[5678]

started_at                   2021-03-03 18:09:08.987000+00:00
ended_at                     2021-03-03 18:17:03.056000+00:00
duration                                                  474
start_station_id                                          433
start_station_name                                        Ila
start_station_description        langs Uelandsgt ved Colletts
start_station_latitude                                59.9318
start_station_longitude                               10.7487
end_station_id                                            564
end_station_name                                  Oscars gate
end_station_description                   ved Hegdehaugsveien
end_station_latitude                                  59.9224
end_station_longitude                                 10.7272
Name: 5678, dtype: object

Så, vi kan hente ut en enkelt rad med `loc`-indeksen, og det er nyttig nok i seg selv, men vi kan også hente ut flere rader på en gang! Da kan vi for eksempel bruke en liste.

In [17]:
bysykkel_data_mars.loc[[5000, 5001]]

                            started_at  ... end_station_longitude
5000  2021-03-03 14:16:42.642000+00:00  ...             10.780603
5001  2021-03-03 14:16:47.021000+00:00  ...             10.714056

[2 rows x 13 columns]

Eller vi kan bruke *slicing*. Her starter vi på rad 5000 og slutter på rad 5050.

In [18]:
bysykkel_data_mars.loc[5000:5050]

                            started_at  ... end_station_longitude
5000  2021-03-03 14:16:42.642000+00:00  ...             10.780603
5001  2021-03-03 14:16:47.021000+00:00  ...             10.714056
5002  2021-03-03 14:17:19.203000+00:00  ...             10.757867
5003  2021-03-03 14:17:30.361000+00:00  ...             10.751141
5004  2021-03-03 14:18:32.425000+00:00  ...             10.750775
5005  2021-03-03 14:18:40.641000+00:00  ...             10.735113
5006  2021-03-03 14:19:01.795000+00:00  ...             10.745704
5007  2021-03-03 14:19:06.079000+00:00  ...             10.757335
5008  2021-03-03 14:19:19.316000+00:00  ...             10.713682
5009  2021-03-03 14:19:33.621000+00:00  ...             10.767800
5010  2021-03-03 14:20:11.892000+00:00  ...             10.751981
5011  2021-03-03 14:21:08.305000+00:00  ...             10.735113
5012  2021-03-03 14:21:27.598000+00:00  ...             10.750462
5013  2021-03-03 14:21:37.708000+00:00  ...             10.733357
5014  2021-03-03 14:22:07.137000+00:00  ...             10.766171
5015  2021-03-03 14:22:33.805000+00:00  ...             10.780603
5016  2021-03-03 14:22:39.993000+00:00  ...             10.749755
5017  2021-03-03 14:22:41.357000+00:00  ...             10.751930
5018  2021-03-03 14:23:23.187000+00:00  ...             10.751981
5019  2021-03-03 14:23:35.853000+00:00  ...             10.726472
5020  2021-03-03 14:23:36.331000+00:00  ...             10.751551
5021  2021-03-03 14:23:37.542000+00:00  ...             10.750775
5022  2021-03-03 14:23:40.135000+00:00  ...             10.761774
5023  2021-03-03 14:23:40.675000+00:00  ...             10.776072
5024  2021-03-03 14:24:02.831000+00:00  ...             10.721762
5025  2021-03-03 14:24:23.687000+00:00  ...             10.752292
5026  2021-03-03 14:25:21.661000+00:00  ...             10.769330
5027  2021-03-03 14:26:38.038000+00:00  ...             10.752103
5028  2021-03-03 14:26:45.805000+00:00  ...             10.737663
5029  2021-03-03 14:26:57.902000+00:00  ...             10.746058
5030  2021-03-03 14:27:15.553000+00:00  ...             10.754714
5031  2021-03-03 14:27:43.070000+00:00  ...             10.779164
5032  2021-03-03 14:27:46.661000+00:00  ...             10.757294
5033  2021-03-03 14:28:21.724000+00:00  ...             10.760926
5034  2021-03-03 14:28:22.931000+00:00  ...             10.734305
5035  2021-03-03 14:29:10.188000+00:00  ...             10.765985
5036  2021-03-03 14:29:25.342000+00:00  ...             10.714577
5037  2021-03-03 14:30:01.422000+00:00  ...             10.761000
5038  2021-03-03 14:30:04.591000+00:00  ...             10.766194
5039  2021-03-03 14:30:26.067000+00:00  ...             10.755969
5040  2021-03-03 14:31:02.832000+00:00  ...             10.761586
5041  2021-03-03 14:31:03.115000+00:00  ...             10.767800
5042  2021-03-03 14:31:53.829000+00:00  ...             10.716909
5043  2021-03-03 14:31:55.482000+00:00  ...             10.716926
5044  2021-03-03 14:32:08.151000+00:00  ...             10.750462
5045  2021-03-03 14:32:14.761000+00:00  ...             10.762240
5046  2021-03-03 14:32:28.931000+00:00  ...             10.751981
5047  2021-03-03 14:32:58.773000+00:00  ...             10.735887
5048  2021-03-03 14:33:02.753000+00:00  ...             10.732771
5049  2021-03-03 14:33:33.460000+00:00  ...             10.725316
5050  2021-03-03 14:33:48.181000+00:00  ...             10.751981

[51 rows x 13 columns]

Vi kan også bruke `loc`-indeksen til å hente ut en liten "bit" av regnearket. For eksempel kan vi hente ut startstasjonen og endestasjonen til turene mellom indeks 5000 og 5050.

In [19]:
bysykkel_data_mars.loc[5000:5050, ['start_station_id', 'end_station_id']]

      start_station_id  end_station_id
5000               402             614
5001               534             613
5002               418             385
5003               423             437
5004               462             582
5005               511             573
5006               565             549
5007               457             495
5008               428             590
5009               537             737
5010               440             443
5011               614             573
5012               623             444
5013               571             469
5014               580             598
5015               500             614
5016               553             617
5017               619             555
5018               430             443
5019               496             486
5020               592             489
5021               416             582
5022               537             523
5023               574             485
5024               622             471
5025               610             527
5026               408             460
5027               381             606
5028               423             625
5029               503             499
5030               557             585
5031               435             583
5032               489             491
5033               460             424
5034               518             530
5035               408             503
5036               739             435
5037               583             574
5038               487             480
5039               489             439
5040               408             493
5041               557             737
5042               413             548
5043               398             413
5044               446             444
5045               514             381
5046               441             443
5047               384             430
5048               535             390
5049               535             533
5050               534             443

Ok, så nå har vi sett litt på hva regnearket vårt inneholder, men la oss få en bedre oversikt. Da kan vi nok en gang bruke `info`-funksjonen til regnearket vårt.

In [20]:
bysykkel_data_mars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62287 entries, 0 to 62286
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   started_at                 62287 non-null  object
 1   ended_at                   62287 non-null  object
 2   duration                   62287 non-null  int64
 3   start_station_id           62287 non-null  int64
 4   start_station_name         62287 non-null  object
 5   start_station_description  62273 non-null  object
 6   start_station_latitude     62287 non-null  float64
 7   start_station_longitude    62287 non-null  float64
 8   end_station_id             62287 non-null  int64
 9   end_station_name           62287 non-null  object
 10  end_station_description    62273 non-null  object
 11  end_station_latitude       62287 non-null  float64
 12  end_station_longitude      62287 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 6.2+ MB

Legg merke til at vi med over 62000 rader, bare bruker 6 MB med minne. På en moderne datamaskin har man ofte mellom 8 og 32 GB med RAM. Det er altså plass til å se på flere millioner rader på en gang!

La oss komme oss videre, hva om vi ber Pandas om å beskrive datasettet vårt numerisk:

In [21]:
bysykkel_data_mars.describe()

           duration  ...  end_station_longitude
count  62287.000000  ...           62287.000000
mean     812.099443  ...              10.744560
std      912.777143  ...               0.023488
min       61.000000  ...              10.651118
25%      356.000000  ...              10.730377
50%      567.000000  ...              10.749929
75%      920.000000  ...              10.760926
max    26802.000000  ...              10.814314

[8 rows x 7 columns]

Her ser vi at en gnennomsnittlig sykkeltur tar litt over 800 sekunder. Altså mer enn 10 minutter. Den lengste sykkelturen tok nesten 27000 sekunder!

Men det er ikke så informativt å se på turene med sekundoppløsning. La oss heller se på turene med minutt-oppløsning. For å gjøre det, kan vi ta `duration`-kolonnen vår og dele den på 60:

In [22]:
duration_minutt = bysykkel_data_mars['duration'] / 60

In [23]:
duration_minutt

0         7.600000
1         4.650000
2         7.000000
3        31.083333
4        29.166667
           ...
62282     2.966667
62283     6.883333
62284     9.483333
62285     9.283333
62286    11.983333
Name: duration, Length: 62287, dtype: float64

Her har vi altså lengden på turene i minutter. Vi kan lagre denne som en ny kolonne i regnearket vårt. Her oppretter vi en kolonne med navn `duration_minutt`, hvor vi lagrer denne informasjonen

In [24]:
bysykkel_data_mars['duration_minutt'] = duration_minutt

Vi kan også lagre informasjonen i en kolonne direkte når vi regner den ut.

In [25]:
bysykkel_data_mars['duration_minutt'] = bysykkel_data_mars['duration'] / 60

Så, hvis vi ber Python om å beskrive datasettet på nytt, kan vi regne ut hvor mange minutter en gjennomsnittlig sykkeltur tar.

In [26]:
bysykkel_data_mars.describe()

           duration  start_station_id  ...  end_station_longitude  duration_minutt
count  62287.000000      62287.000000  ...           62287.000000     62287.000000
mean     812.099443        512.925201  ...              10.744560        13.534991
std      912.777143        153.054922  ...               0.023488        15.212952
min       61.000000        377.000000  ...              10.651118         1.016667
25%      356.000000        427.000000  ...              10.730377         5.933333
50%      567.000000        488.000000  ...              10.749929         9.450000
75%      920.000000        565.000000  ...              10.760926        15.333333
max    26802.000000       2280.000000  ...              10.814314       446.700000

[8 rows x 8 columns]

Hvis vi scroller til høyre her, ser vi at en gjennomsnittlig sykkeltur tar ca 13.5 minutter, og medianen (50%-persentilen) er litt høyere på 15 minutt og 20 sekunder. Dessverre er det fortsatt litt vanskelig å se hvor lang tid den lengste turen er. La oss derfor lage enda en kolonne, hvor vi har tiden på turene i timer.

In [27]:
bysykkel_data_mars['duration_timer'] = bysykkel_data_mars['duration_minutt'] / 60

In [28]:
bysykkel_data_mars.describe()

           duration  start_station_id  ...  duration_minutt  duration_timer
count  62287.000000      62287.000000  ...     62287.000000    62287.000000
mean     812.099443        512.925201  ...        13.534991        0.225583
std      912.777143        153.054922  ...        15.212952        0.253549
min       61.000000        377.000000  ...         1.016667        0.016944
25%      356.000000        427.000000  ...         5.933333        0.098889
50%      567.000000        488.000000  ...         9.450000        0.157500
75%      920.000000        565.000000  ...        15.333333        0.255556
max    26802.000000       2280.000000  ...       446.700000        7.445000

[8 rows x 9 columns]

Her ser vi at den lengste sykkelturen var på 7.5 timer!

### Gruppere data

Ofte, når vi analyserer data, er vi interessert i hvordan gjennomsnittet ser ut for forskjellige "grupper". For eksempel, vi har et regneark, hvor hver rad representerer en bysykkeltur. En ting vi kan være interessert i er hvordan bysykkelturene som starter i en spesifikk stasjon ser ut. Vi vil altså *gruppere* datasettet vårt basert på start-stasjonen.

Når vi vil gruppere et datasett, så velger vi hvilken kolonne vi vil gruppere det basert på. Så vil Pandas gå igjennom regnearket vårt og finne alle mulige verdier i den kolonnen. Så vil Pandas lage et nytt regneark for hver av disse verdiene. Hvis vi for eksempel grupperer regnearket vårt basert på start-stasjon, vil vi få et regneark for hver bysykkel-stasjon. Regneark 1 vil inneholde alle turer som startet i "7 Juni Plassen", mens regneark 2 vil inneholde alle turer som startet i "AHO", osv. Figuren under viser hvordan dette fungerer i praksis.

<img src="groupby_bysykkel.png" width="800px" />

Så, når vi har gruppert regnearket vårt, kan vi regne ut gjennomsnittet av hver kolonne for hver stasjon. Dette vil gi oss en rand for hver bysykkel-stasjon, som vi så kan putte inn i et nytt regneark. Vi får altså et regneark, hvor hver rad representerer en bysykkelstasjon, og hver kolonne inneholder den er gjennomsnittsverdien for den bysykkelstasjonen.

In [29]:
bysykkeldata_per_stasjon = bysykkel_data_mars.groupby("start_station_name").mean()
bysykkeldata_per_stasjon.sort_values("duration")

                         duration  ...  duration_timer
start_station_name                 ...
Bjerregaardsgate Øst   549.802469  ...        0.152723
Lakkegata              555.909535  ...        0.154419
Hallings gate          565.191837  ...        0.156998
Lille Schous plass     565.456376  ...        0.157071
Skråninga              574.378378  ...        0.159550
...                           ...  ...             ...
Norsk Folkemuseum     1316.143713  ...        0.365595
Sjølyst               1429.777778  ...        0.397160
Furulund              1506.340000  ...        0.418428
Monolittveien         1506.770000  ...        0.418547
Huk                   1986.798742  ...        0.551889

[248 rows x 9 columns]

In [30]:
bysykkeldata_per_stasjon = bysykkel_data_mars.groupby("end_station_name").count()
bysykkeldata_per_stasjon.sort_values("duration")

                      started_at  ended_at  ...  duration_minutt  duration_timer
end_station_name                            ...
Kværnerveien                   5         5  ...                5               5
Salt                          11        11  ...               11              11
Sirkustomta                   20        20  ...               20              20
Hasle                         21        21  ...               21              21
HasleLinje                    29        29  ...               29              29
...                          ...       ...  ...              ...             ...
Bjørvika                     859       859  ...              859             859
Sjøsiden ved trappen         888       888  ...              888             888
Rådhusbrygge 4               927       927  ...              927             927
Ringnes Park                 944       944  ...              944             944
Tjuvholmen                   959       959  ...              959             959

[248 rows x 14 columns]

## Funksjoner

Funksjoner har mange bruksområder i programmering, men en av de nyttigste er at de lar oss forenkle, navngi og gjenbruke utregninger.

Ta for eksempel koden over, hvor vi gjorde om sekunder til minutter. Denne koden alene er ikke veldig komplisert, men tenk deg at vi ønsker å gjøre sekunder om til minutter mange steder i koden. Da hadde det vært praktisk å bare fortalt Python: "Kan du ikke gjøre disse tallene om fra sekunder til minutter?" Det er dette funksjoner lar oss gjøre.

For å si det enkelt, så er en funksjon en "oppskrift" som forteller Python hvordan datamaskinen skal utføre en oppgave. Ofte er denne oppgaven en utregning av et slag. Vi navngir oppgaven med et funksjonsnavn, og forteller Python alt som trengs for å utføre denne oppgaven. Til slutt forteller vi vilket resultat vi ønsker ut etter at datamaskinen har "gjort jobben sin".

For å vise hvordan vi kan lage en funksjon i Python, kan vi ta et lite eksempel

In [31]:
def sekund_til_minutt(tid_i_sekunder):
    return tid_i_sekunder / 60

Her har vi opprettet en funksjon, med navnet `sekund_til_minutt`. Denne funksjonen beskriver hvordan Python gjør en tid i sekunder, til den samme tiden, men i minutter. Legg også merke til at vi har gitt funksjonen et beskrivende navn. Dette lar oss skrive kode som forklarer seg selv. La oss fortsette med å bruke denne funksjonen.

In [32]:
antall_sekunder = 1000
antall_minutter = sekund_til_minutt(antall_sekunder)
print(f"{antall_sekunder} sekund er {antall_minutter} minutter.")

1000 sekund er 16.666666666666668 minutter.

Vi ser at vi oppretter en variabel `antall_sekunder`, som representerer en tidsperiode i sekunder, så ber vi Python regne om denne tiden fra sekunder til minutter og lagre resultatet i `antall_minutter` variabelen.

Det som skjer her, er at verdien til variabelen `antall_sekunder`, altså `1000` blir lagret inni variabelen `tid_i_sekunder`, før koden til `sekund_til_minutt`-funksjonen kalles. Det som så returneres blir "spyttet" ut av funksjonen og lagret i `antall_minutter`-variabelen, mens `tid_i_sekunder` variabelen blir glemt.

Syntaksen for en funksjon i Python ser altså slik ut

```python
def funksjonsnavn(inputvariabel):
    resultat = ... # behandle inputvariabelen
    return resultat
```

Alle variablene som opprettes inni funksjonen (inkludert inputvariabelen(e)) blir glemt etter at funksjonen er kjørt ferdig, mens det som returneres (altså uttrykket etter `return`-nøkkelordet) kan vi for eksempel lagre i en variabel.

En ting som er fint i Python, er at vi ikke forteller hva input-variabelen er på forhånd. Så lenge vi kan dele en variabel eller et uttrykk på 60, kan vi bruke `sekund_til_minutt`-funksjonen vår på det. Dette betyr at vi kan bruke funksjonen vår for å gjøre om hele kolonner i regnearket vårt fra sekunder til minutter (siden vi tross alt kan dele kolonner på 60).

In [33]:
def sekund_til_minutt(tid_i_sekunder):
    return tid_i_sekunder / 60

def sekund_til_time(tid_i_sekunder):
    return tid_i_sekunder / 3600

bysykkel_data_mars['duration_minutt'] = sekund_til_minutt(bysykkel_data_mars['duration'])
bysykkel_data_mars['duration_timer'] = sekund_til_time(bysykkel_data_mars['duration'])

Nå har vi sett på grunnleggende funksjoner, som tar inn en variabel, og returnerer en variabel. Men, i Python, kan vi ha mange forskjellige typer funksjoner, vi kan ha funksjoner som tar inn flere ting og ikke returnerer noe, og vi kan ha funksjoner som tar ikke tar inn noe, men returnerer flere ting. Det er nesten bare fantasien som setter grensen for hva en funksjon kan gjøre!

Hvis du er interessert i å lære mer om funksjoner i Python anbefaler vi at du ser på kapittel åtte i kompendiet vårt fra forrige kurs, som du kan finne her: https://github.com/kodeskolen/tekna_agder_v21/blob/master/kompendium.pdf

## Oppgaver

### Oppgave 1

Vi har hentet værdata fra metrologisk institutt, som du finner i samme mappe som denne Notebooken.

#### Oppgave 1a)
Bruk `pd.read_csv` funksjonen for å laste inn de historiske værdatene siden Januar 2018 i et regneark.

#### Oppgave 1b)
Bruk `head`-funksjonen til regnearket for å se innholdet i de første fem radene.

#### Oppgave 1b)
Bruk `describe`-funksjonen til regnearket for å finne nøkkelinformasjon om klimaet de siste årene. Hva var den høyeste temperaturen, og hva var den laveste temperaturen målt?

#### Oppgave 1c)
Hent ut `Maksimumstemperatur (døgn)` kolonnen til regnearket.

#### Oppgave 1d)
Regn ut temperaturendringen i løpet av et døgn. Det kan du gjøre med å regne ut `Maksimumstemperatur (døgn)` kolonnen minus `Minimumstemperatur (døgn)`. Legg denne informasjonen inn i regnearket som en kolonne med navne `Temperaturendring (døgn)`.

#### Oppgave 1e)
Bruk `describe`-funksjonen til regnearket en gang til for å finne ut hva den største og minste temperaturendringen var i løpet av et døgn.

#### Oppgave 1f)
For å regne om temperaturer fra Celsius til Farenheit kan du bruke formelen

$$^{\circ}\text{F} = {^{\circ}\text{C}} \times \frac{9}{5} + 32,$$

Ta utgangspunkt i denne formelen for å lage en funksjon `celsius_til_farenheit(temperatur_i_celsius)` som tar inn en temperatur i grader Celsius og regner dem om til grader Farenheit. Lagre så en kolonne i regnearket ditt som heter `Maksimumstemperatur i Farenheit (døgn)`, som inneholder maksimumstemperaturen for hvert døgn i farenheit.

#### Oppgave 1g) (bonusoppgave)
Nedenfor, har du kode som gjør klar data fra metrologisk institutt for analyse. Det var denne koden vi brukte for å lage værdataen vi har analysert her.

Besøk *Norsk Klimasenter* sine nettsider, og last ned værdata fra værstasjonen nermest deg. Nettsiden er her: https://seklima.met.no/observations/. Velg dagsoppløsning, og hent ut `Minimumstemperatur`, `Maksimumstemperatur` og `Middeltemperatur` data fra det siste året. Bruk så koden under for å gjøre denne dataen klar for analyse.

#### Oppgave 1e) (bonusoppgave)
Fortsett hva den maksimale temperaturendringen var i værstasjonen nermest deg.

In [1]:
#Lag celler og gjør oppgavene her!

## Bearbeiding av værdata

In [ ]:
# Last inn værdata
# Siden det er en norsk fil, brukes semikolon istedenfor komma for å separere rader
# Og komma brukes for å indikere desimaltall
# I denne filen brukes også en bindestrek for å indikere manglende data
# Heldigvis har Pandas muligheter for å ta hensyn til dette, med
# delimiter, decimal og na_values
værdata = pd.read_csv(
    "værhistorikk_fra_metrologisk_institutt.csv",
    delimiter=";",
    decimal=",",
    na_values="-"
)

# Fjern siste kolonne (inneholder copyright-info)
# Data fra metrologisk insitutt kan fritt brukes, bearbeides og deles,
# Så lenge man passer på å si at den er fra metrologisk institutt (CC-BY 4.0 lisens)
værdata = værdata.drop(værdata.index[-1])

# Gjør om tidspunktene fra tekststrenger til datoer med spesifisert tidssone
værdata["Tid(norsk normaltid)"] = pd.to_datetime(
    værdata["Tid(norsk normaltid)"], dayfirst=True, utc=True
)

# Hent ut dagen i året og hvilket år det er
værdata["År"] = værdata["Tid(norsk normaltid)"].dt.year
værdata["Dag nummer"] = værdata["Tid(norsk normaltid)"].dt.dayofyear

# Lagre værdataen
værdata.to_csv("værhistorikk_fra_metrologisk_institutt_behandlet.csv")